<div class="index-div">
  <h1>Libera il tuo spazio mentale</h1>
  <p>Ritrova calma e chiarezza togliendo le attività dalla tua testa e mettendole dentro la tua lista, non importa dove sei o quale dispositivo usi.</p>
  <p>Un task manager di cui ti puoi fidare per tutta la vita</p>
</div>