<footer class="footer">
  <p class="copyright">&copy; App Task CRUD. Trueblue. Hugo Carrizo Manzoni <span id="year"></span></p>
</footer>
<script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>