<div class="categorias">
  <ul>

    <li>
      <a href="/tasks/create">
        <i class="fas fa-file-medical"></i>
        Creare
      </a>
    </li>
    <li>
      <a href="/tasks/list">
        <i class="fas fa-tasks"></i>
        Lista
      </a>
    </li>

  </ul>
</div>